doctype html
html
  head
    title Linguarium
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
      script(src='assets/js/ie/html5shiv.js')
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/class.css')
    //if lte IE 8
      link(rel='stylesheet', href='assets/css/ie8.css')
    //if lte IE 9
      link(rel='stylesheet', href='assets/css/ie9.css')
  body(onload="namePrompt()").landing
    // Page Wrapper
    #page-wrapper
      // Header
      include ../includes/header

      section#class-display
        section#teacher-display
          h1#class-text Main Teacher Area
        section#dictionary
          h1#class-text  Text messages
          p#past-messages
          input(type="text", name="user")#new-message
        section#text-panel
          h1#class-text  Dictionary, testing area, notes area?

    // Scripts
    script(src='js/jquery.min.js')
    script(src='js/jquery.scrollex.min.js')
    script(src='js/jquery.scrolly.min.js')
    script(src='js/skel.min.js')
    script(src='js/util.js')
    script(src='https://cdn.socket.io/socket.io-1.7.3.js')
    script(src='js/tools/chat.js')
    script(src='js/tools/visualcue.js')
    //if lte IE 8
    script(src='assets/js/ie/respond.min.js')
    script(src='js/main.js')
