doctype html
html
  head
    title Linguarium
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')  
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/class.css')
    //if lte IE 8
      link(rel='stylesheet', href='assets/css/ie8.css')
    //if lte IE 9
      link(rel='stylesheet', href='assets/css/ie9.css')
      
      script(src='assets/js/ie/html5shiv.js')
  body(onload="namePrompt()" ng-app="dictionary" ng-controller="MainCtrl").landing
    // Page Wrapper
    #page-wrapper
      // Header
      include ../includes/header

      section#class-display
        section#teacher-display
          div#subtitles.hidden-subtitle
            h1#subtitle-header WORD
            p#subtitle-text DEFINITION
        section#text-panel
          div.tab
            a(href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'messages')"  id="defaultOpen") Messages
            a(href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'users')") Users
          div#messages.tabcontent
            p#past-messages
            input(type="text", name="user")#new-message
          div#Users.tabcontent
            ul#users
              li Sup
        section#dictionary
          div.tab
            a(href="javascript:void(0)" class="tablinks2" onclick="openTab2(event, 'dictionary')" id="defaultOpen") Dictionary
            a(href="javascript:void(0)" class="tablinks2" onclick="openTab2(event, 'class_cameras')" ) Class Cameras
            a(href="javascript:void(0)" class="tablinks2" onclick="openTab2(event, 'grammar_rules')") Grammar Rules
            a(href="javascript:void(0)" class="tablinks2" onclick="openTab2(event, 'testing_area')") Testing Area
            a(href="javascript:void(0)" class="tablinks2" onclick="openTab2(event, 'notes')") Notes
          div#dictionary.tabcontent2
            li(ng-repeat='entry in entries')
              span(style='font-size:16px; margin-left:10px; color:#000; font-weight: bold;')
                {{entry.word}}
              span(style='font-size:14px; margin-left:10px; color:#000;')
                {{entry.definition}}
        section#tools
          form(ng-submit='addEntry()')
            h3#dictionary-header Add a New Dictionary Entry
            .form-group
              input.form-control#dictionary-form(type='text', placeholder='Word', ng-model='word')
            .form-group
              input.form-control#dictionary-form(type='text', placeholder='Definition', ng-model='definition')
            button.btn.btn-primary(type='submit') Add Entry
        video#video(autoplay)

    // Scripts
    script(src='js/jquery.min.js')
    script(src='js/jquery.scrollex.min.js')
    script(src='js/jquery.scrolly.min.js')
    script(src='js/skel.min.js')
    script(src='js/util.js')
    script(src='js/socket.io-1.7.3.js')
    script(src='js/tools/script_control.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js')
    script(src="js/tools/dictionary.js")
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js') 
    
    //Add any new scripts here
    

    //if lte IE 8
    script(src='js/ie/respond.min.js')
    script(src='js/main.js')
