doctype html
html
  head
    title Linguarium
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/main.css')
    link(href='css/revised_style.css', rel='stylesheet')
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', rel='stylesheet')
  body(onload="namePrompt()" ng-app="dictionary" ng-controller="MainCtrl")
    include ../includes/header
    #video-text-container
      img#main-video(src='http://media.gettyimages.com/videos/young-male-architect-making-a-video-call-from-bureau-video-id592615040?s=640x640')
      #media-controls
        .button
          i.fa.fa-microphone(aria-hidden='true')
        .button
          i.fa.fa-video-camera(aria-hidden='true')
        .button
          i.fa.fa-volume-up(aria-hidden='true')
        .button
          i.fa.fa-hand-paper-o(aria-hidden='true')
      #userlist-chatbox
        #userlist
          .section-title
            span.section-title-desc Users online
          .section-body
            #userlist-inner
        #chatbox
          .section-title
            span.section-title-desc Chat
          .section-body
            #past-messages
            input#new-message(type='text', placeholder='Type a message...')
    #workspace-container
      #workspace-main
        canvas#whiteboard
        div#subtitles.hidden-subtitle
          h1#subtitle-header WORD
          p#subtitle-text DEFINITION
    #tools-container
      select#tool-list(name='tools')
        option(value='dictionary', selected='selected') Dictionary
        option(value='notes') Notes
        option(value='flashcards') Flash cards
      #dictionary-container.tool-container
        .section-title
          span.section-title-desc Dictionary
        .section-body
          form(ng-submit='addEntry()')
            h3 Add a new entry
            .form-group
              input.form-control(type='text', placeholder='Word', ng-model='word')
            .form-group
              input.form-control(type='text', placeholder='Definition', ng-model='definition')
            button.btn.btn-primary.center-block(type='submit') Add an Entry
          h3 Your Dictionary
          form
            .form-group
              .input-group
                .input-group-addon
                  i.fa.fa-search
                input.form-control(type='text', placeholder='Search for a Word', ng-model='search.word')
          h4 Sort:
            button.btn-xs.btn-primary(ng-click="toggleSort('word')")
              | Name
              i(ng-class="sort.descending ? 'fa fa-toggle-down' : 'fa fa-toggle-up'")
            button.btn-xs.btn-primary(ng-click="toggleSort('date')")
              | Date
              i(ng-class="sort.descending ? 'fa fa-toggle-down' : 'fa fa-toggle-up'")

          .panel-group(ng-repeat='entry in entries|filter:search|orderBy:sort.type:sort.descending')
            .panel.panel-default
              .panel-heading
                h4.panel-title
                  a(data-toggle='collapse', href='#{{entry.id}}') {{entry.word}}
              .panel-collapse.collapse(id='{{entry.id}}')
                .panel-body {{entry.definition}}
                .panel-footer
                  button.btn-xs.btn-primary(ng-click='showWord(entry)', ng-disabled='entry.disabled' style="width: 50%;") Show
                  button.btn-xs.btn-primary(ng-click='removeWord(entry)', ng-disabled='entry.disabled' style="width: 50%;") Remove


    // Scripts
    script(src='js/jquery.min.js')
    script(src='js/jquery.scrollex.min.js')
    script(src='js/jquery.scrolly.min.js')
    script(src='js/skel.min.js')
    script(src='js/util.js')
    script(src='js/socket.io-1.7.3.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js')
    script(src='js/tools/script_control.js')
    script(src="js/tools/dictionary_angular.js")

    //Add any new scripts here

    //if lte IE 8
    script(src='js/ie/respond.min.js')
    script(src='js/main.js')
