doctype html
html
  head
    title Linguarium
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/main.css')
    link(href='css/revised_style.css', rel='stylesheet')
    link(href='http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', rel='stylesheet')
  body
    include ../includes/header
    #video-text-container
      img#main-video(src='http://media.gettyimages.com/videos/young-male-architect-making-a-video-call-from-bureau-video-id592615040?s=640x640')
      #media-controls
        .button
          i.fa.fa-microphone(aria-hidden='true')
        .button
          i.fa.fa-video-camera(aria-hidden='true')
        .button
          i.fa.fa-volume-up(aria-hidden='true')
        .button
          i.fa.fa-hand-paper-o(aria-hidden='true')
      #userlist-chatbox
        #userlist
          .section-title
            span.section-title-desc Users online
          .section-body
        #chatbox
          .section-title
            span.section-title-desc Chat
          .section-body
            #past-messages
            input#new-message(type='text', placeholder='Type a message...')
    #workspace-container
      #workspace-main
        img.workspace-image(src='http://www.lestnic.com/wp-content/uploads/2016/01/Turquiose-Toss-Pillows-for-Traditional-Living-Room-Ideas-with-Decorative-Fireplace-and-Cute-TV.jpg')
    #tools-container
      select#tool-list(name='tools')
        option(value='dictionary', selected='selected') Dictionary
        option(value='notes') Notes
        option(value='flashcards') Flash cards
      #dictionary-container.tool-container
        .section-title
          span.section-title-desc Dictionary
        .section-body

    // Scripts
    script(src='js/jquery.min.js')
    script(src='js/jquery.scrollex.min.js')
    script(src='js/jquery.scrolly.min.js')
    script(src='js/skel.min.js')
    script(src='js/util.js')
    script(src='https://cdn.socket.io/socket.io-1.7.3.js')
    script(src='js/tools/script_control.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js') 
    
    //Add any new scripts here
    
    //if lte IE 8
    script(src='js/ie/respond.min.js')
    script(src='js/main.js')
