doctype html
html
  head
    title Linguarium
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
      script(src='assets/js/ie/html5shiv.js')
      script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js')
    link(rel='stylesheet', href='css/main.css')
    link(rel='stylesheet', href='css/class.css')
    //if lte IE 8
      link(rel='stylesheet', href='assets/css/ie8.css')
    //if lte IE 9
      link(rel='stylesheet', href='assets/css/ie9.css')
  body(onload="namePrompt()").landing
    // Page Wrapper
    #page-wrapper
      // Header
      include ../includes/header

      section#class-display
        section#teacher-display
          h1#class-text Main Teacher Area
        section#text-panel
          div.tab
            a(href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'messages')"  id="defaultOpen") Messages
            a(href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'users')") Users
          div#messages.tabcontent
            p#past-messages
            input(type="text", name="user")#new-message
          div#Users.tabcontent
            ul#users
              li Sup
        section#dictionary
          div.tab
            a(href="javascript:void(0)" class="tablinks2" onclick="openTab(event, 'class_cameras')"  id="defaultOpen") Class Cameras
            a(href="javascript:void(0)" class="tablinks2" onclick="openTab(event, 'dictionary')") Dictionary
            a(href="javascript:void(0)" class="tablinks2" onclick="openTab(event, 'grammar_rules')") Grammar Rules
            a(href="javascript:void(0)" class="tablinks2" onclick="openTab(event, 'testing_area')") Testing Area
            a(href="javascript:void(0)" class="tablinks2" onclick="openTab(event, 'notes')") Notes
        section#tools
          h1 Student tools
        video#video(autoplay)

    // Scripts
    script(src='js/jquery.min.js')
    script(src='js/jquery.scrollex.min.js')
    script(src='js/jquery.scrolly.min.js')
    script(src='js/skel.min.js')
    script(src='js/util.js')
    script(src='https://cdn.socket.io/socket.io-1.7.3.js')
    
    //Add any new scripts here
    script(src='js/tools/script_control.js')
    
    //if lte IE 8
    script(src='js/ie/respond.min.js')
    script(src='js/main.js')
