@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic");

section#class-display {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;

  top: 0;
  left: 0;
}

section#teacher-display {
  width: 70%;
  height: 70%;
  float: left;
  border-style: groove;
  border-color: #000;
  border-width: thick;
  background-color: #fff;
}

section#dictionary {
  width: 30%;
  height: 70%;
  float: right;
  border-style: groove;
  border-color: #000;
  border-width: thick;
  background-color: #fff;
}

section#text-panel {
  width: 100%;
  height: 30%;
  display: flex;
  border-style: inset;
  border-color: #000;
  border-width: thick;
  background-color: #fff;
}


h1#class-text {
  color: #000;
  font-size: 40px;
}
