@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic");

section#class-display {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top: 3em;
  top: 0;
  left: 0;
}

section#workspace-main {
  width: 70%;
  height: 65%;
  float: left;
  border-style: groove;
  /*border-color: #000;*/
  border-width: thick;
  /*background-color: #fff;*/
  background-image: url("/images/mock_1.jpg");
}

#subtitles {
  width: 500px;
  height: 100px;
  background-color: gray;
  opacity: .8;
  border-radius: 25px;
  padding: 20px;
  position: relative;
  top: 400px;
  left: 200px;
}

.hidden-subtitle {
  display: none;
}

#subtitle-header {
  color: #000;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  font-size: 18px;
}

#subtitle-text {
  color: #000;
  text-align: center;
  font-size: 16px;
}

#entry-word {
  text-decoration: underline;
  font-weight: bold;
}

section#text-panel {
  width: 30%;
  height: 65%;
  float: right;
  position: relative;
  display: table;
}

section#dictionary {
  width: 50%;
  height: 35%;
  float: left;
  border-style: inset;
  border-color: #000;
  border-width: thick;
  background-color: #fff;
}

section#tools {
  width: 20%;
  height: 35%;
  float: left;
  border-style: inset;
  border-color: #000;
  border-width: thick;
  background-color: #fff;
}

#dictionary-header {
  color: #000;
  text-align: center;
}

#dictionary-form {
  color: #FFF;
  background-color: #000;
  text-align: center;
}

video#video {
  width: 30%;
  height: 35%;
  float: right;
  border-style: inset;
  border-color: #000;
  border-width: thick;
  background-color: #fff;
}


h1#class-text {
  color: #000;
  font-size: 40px;
}

p#past-messages {
  height: 66%;
  margin: 0;
  padding: 10px;
  overflow: auto;
}

#users {
  height: 66%;
  margin: 0;
  padding: 10px;
  overflow: auto;
}

section#text-panel input {
  background-color: white;
  color: black;
  border: 2px solid black;
  position: absolute;
  border: solid;
  bottom: 0;
  right: 0;
  left: 0;
}

#menu {
    color: #000 !important
}

.my_message {
	color: black;
  float: right;
	clear: both;
  background-color: lightcoral;
  border-radius: 4px;
  margin: 2px 0;
  padding: 3px 7px;
	max-width: 65%;
}

.not_my_message {
	color: black;
  float: left;
	clear: both;
  background-color: lightblue;
  border-radius: 4px;
  margin: 2px 0;
  padding: 3px 7px;
	max-width: 65%;
}

.generic_message {
  color: black;
  float: left;
  clear: both;
  background-color: gray;
  border-radius: 4px;
  margin: 2px 0;
  padding: 3px 7px;
  max-width: 65%;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 2px solid white;
    background-color: orange;
}

/* Style the links inside the tab */
.tablinks {
  width: 50%;
  float: left;
  display: block;
  border: 2px solid gray;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

.tablinks2 {
  width: 20%;
  float: left;
  display: block;
  border: 2px solid gray;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 12px;
}

/* Change background color of links on hover */
div.tab a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab a:focus, .active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}
