body {
	margin: 0;
	background-color: rgb(247, 247, 247);
    background-image: none;
}

#header.alt h1 {
    opacity: 1;
}

#header.alt {
    background: #2e3842;
}

#video-text-container {
	position: absolute;
	float: left;
	height: calc(100% - 3em);
	width: 21%;
	margin: 3em 0 0 0;
	padding: 6px;
	z-index: 50;
}

#workspace-container {
	position: absolute;
	float: left;
	height: calc(100% - 3em);
	width: 58%;
	padding: 6px;
	margin: 3em 0 0 21%;
	border-right: 1px solid #DDDDDD;
	border-left: 1px solid #DDDDDD;
	z-index: 100;
}

#tools-container {
	position: absolute;
	float: left;
	height: calc(100% - 3em);
	width: 21%;
	padding: 6px;
	margin: 3em 0 0 79%;
	z-index: 50;
}

#main-video {
    width: 100%;
	height: 24.5%;
	border-radius: 3px;
}

#media-controls {
	width: 100%;
	height: 22px;
	background-color: #EEEEEE;
	border-left: 1px solid #BBBBBB;
	border-radius: 3px;
}

#media-controls:last-child {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

#userlist-chatbox {
	width: 100%;
	margin: 6px 0 0 0;
	height: calc(75.5% - 34px);
}

#userlist {
	width: 100%;
	height: 35%;
	margin: 0 0 6px 0;
}

#chatbox {
	width: 100%;
	height: calc(65% - 6px);
}

.section-title {
	width: 100%;
	height: 25px;
	background-color: #2e3842;
	padding: 0 0 0 6px;
	letter-spacing: 0;
	font-family: arial;
    color: white;
    font-size: 12px;
	border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.section-body {
	position: relative;
	width: 100%;
	height: calc(100% - 25px);
	border: 1px solid #CCCCCC;
	background-color: white;
	border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

#new-message {
	position: absolute;
	bottom: 0;
	width: 100%;
	color: black;
	padding: 1px 6px;
	height: 30px;
	border-style: solid;
    border-width: 1px 0 0 0;
	border-color: #CCCCCC;
	border-radius: 0;
	outline: none;
	box-shadow: none;
	font-family: arial;
	font-size: 13px;
	letter-spacing: 0;
	background-color: initial;
}

*::-webkit-input-placeholder {
    color: #777777 !important;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #777777 !important;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #777777 !important;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #777777 !important;
}

#workspace-main {
	width: 100%;
	height: 100%;
	position: relative;
}

.workspace-image {
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 3px;
}

#tool-list {
	width: 100%;
    height: 30px;
    border-radius: 3px;
    letter-spacing: 0;
    background-color: #EEEEEE;
    color: #2e3842;
    font-family: arial;
    font-size: 14px;
	padding-left: 5px;
	box-shadow: none;
    border: 1px solid #BBBBBB;
	cursor: pointer;
	-webkit-appearance: menulist;
}

.tool-container {
	width: 100%;
	margin: 6px 0 0 0;
	height: calc(100% - 36px);
}

.button {
	display: inline-block;
	width: 25%;
	line-height: 18px;
	height: 100%;
	text-align: center;
	color: #2e3842;
	padding: 1px 0 0 0;
	border-style: solid;
    border-width: 1px 1px 1px 0;
	border-color: #BBBBBB;
	cursor: pointer;
	border-radius: 0;
	box-shadow: none;
}

.button:hover {
	color: white;
	background-color: #2e3842;
}

.button i {
	font-size: 14px !important;
}

.button:last-child {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

#past-messages {
	width: 100%;
	height: calc(100% - 30px);
	overflow: auto;
	padding: 6px;
}

.my_message {
    color: white;
    float: right;
    clear: both;
    background-color: #2e3842;
    border-radius: 13px;
    margin: 0 0 1px;
    font-size: 12px;
    font-family: arial;
    letter-spacing: 0.0;
    padding: 6px 8px;
    max-width: 70%;
    line-height: 15px;
}

.not_my_message {
    color: black;
    float: left;
    clear: both;
    background-color: #E3E3E8;
    border-radius: 13px;
    margin: 0 0 1px;
    font-size: 12px;
    font-family: arial;
    letter-spacing: 0.0;
    padding: 6px 8px;
    max-width: 70%;
    line-height: 15px;	
}

.message_sender {
	font-weight: bold;
	font-size: 12px;
	color: #2e3842;
}

#userlist-inner {
	width: 100%;
	height: 100%;
	overflow: auto;
	padding: 6px;
}

.user_list_item {
	font-size: 12px;
	font-family: arial;
	letter-spacing: 0.0;
	color: black;
	line-height: 20px;
	margin: 0;
}

.online-icon {
	color: green;
	font-size: 12px;
	margin: 0 3px 0 0;
}