header#header.alt
  h1
    a(href='/') Linguarium
  nav#nav
    ul
      li.special
        a.menuToggle(href='#menu')
          span Menu
        #menu
          ul
            li
              a(href='/') Home
            li
              a(href='generic.html') Generic
            li
              a(href='elements.html') Elements
            li
              a(href='/class') Class Demo
            li
              a(href='#') Sign Up
            li
              a(href='#') Log In
